@import 'bootstrap/scss/bootstrap';
@import './Styles/buttons.scss';


.modal {
    display: block;
    background-color: #00000080;
}

label.flex-space {
    display: flex;
    justify-content: space-between;
}


.cb-bin {
    display: flex;
    flex-direction: column;
    gap: 7px;

    input[type="checkbox"] {
        display: none;
    }

    svg {
        fill: black;
        width: 22px;
        height: 22px;
    }

    label {
        height: 22px;
        cursor: pointer;
    }

    .cb {
        display: flex;
        gap: 7px;
        align-items: center;
        height: 22px;
        padding: 3px 0;

        span {
            line-height: 22px;
            font-size: 22px;
            padding-right: 10px;
            user-select: none;
        }
    }
}