.square {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    margin: 10px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid gray;
    margin: 10px;
}