.trees-bin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background-color: transparent;

    .tree-bin {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 300px;
        height: 100vh;
        background-color: #fff;
        

        .top {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            .tree {
                width: 150px;
                height: 50px;
                background-color: #4caf50;
                border-radius: 10px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .bottom {
            display: flex;
        }
    }

}