body {
  margin: 0;
}

.two-buttons {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.two-buttons .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.two-buttons .buttons button {
  border: none;
  background-color: slateblue;
  color: white;
  font-size: 40px;
  padding: 20px 50px;
  border-radius: 15px;
  cursor: pointer;
  letter-spacing: 4px;
  text-transform: uppercase;
}
