body {
    margin: 0;
}


.two-buttons {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        button {
            border: none;
            background-color: slateblue;
            color: white;
            font-size: 40px;
            padding: 20px 50px;
            border-radius: 15px;
            cursor: pointer;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
    }
}

.digits {
    display: flex;
    gap: 10px;
    font-size: 30px;
    font-family: monospace;
    margin-bottom: 50px;
    color: skyblue;
}


section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .super-digit {
        color: skyblue;
        font-size: 200px;
        font-weight: bold;
        font-family: monospace;
    }
}