body {
    margin: 0;
}

div {
    font-size: 0;
}

span {
    color: skyblue;
}

.kuku {
    color: orangered;
    font-size: 80px;
}

.kazinkas {
    color: #12ad81;
    font-size: 50px;
    line-height: 1.5;
    letter-spacing: 4px;
    margin: 0;
    border: 2px solid #12ad81;
    padding: 20px;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    height: 200px;
    vertical-align: middle;
}